@import "tailwindcss";

:root {
  --black: #0F0F0F;
  --foreground: #F9EFEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0F0F0F;
    --foreground: #F9EFEC;
    --primary: #1A1A1A;
    --secondary: #CE7D63;
    --grey: #676665;
    --secondary-light: #DA9E8B;
    --grey-dark: #B3B3B2;
    --border: #1C1C21;
  }
}

html {
  font-size: 0.8333333333vw;
}

/* Font Scalablitiy  */
@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  background: var(--black);
  @apply pt-[1.875rem] pb-[3.125rem]
}

.myContainer {
  @apply px-[3.125rem]
}

.sec-padded {
  @apply py-[7.5rem]
}

.top-padded {
  @apply pt-[7.5rem]
}

.bottom-padded {
  @apply pb-[7.5rem]
}

.inner-padded {
  @apply p-5 border-2 border-[#1F1F1F] rounded-3xl;
}

.f-center {
  @apply flex items-center justify-center
}

.f-end {
  @apply flex items-end
}

.f-start {
  @apply flex items-start
}

.f-bw {
  @apply flex items-center justify-between
}

.trns {
  transition: all 0.4s ease-out;
}

p {
  @apply text-lg leading-normal font-normal text-[#B3B3B2];
  font-family: var(--font-roboto-flex), sans-serif;
}

h1 {
  @apply text-[4.5rem] text-[#F9EFEC] leading-23 font-semibold uppercase;
  font-family: var(--font-roboto-flex), sans-serif;
}

h2 {
  @apply text-[3rem] text-[#F9EFEC] leading-23 font-semibold uppercase;
  font-family: var(--font-roboto-flex), sans-serif;
}

h3 {
  @apply text-[1.875rem] text-[#F9EFEC] font-medium uppercase;
  font-family: var(--font-roboto-flex), sans-serif;
}

h4 {
  @apply font-medium text-[1.875rem] uppercase text-[#F9EFEC];
  font-family: var(--font-roboto-flex), sans-serif;
}

h5 {
  @apply text-[#F3DFD8] text-[1.375rem] font-bold;
  font-family: var(--font-roboto-mono), sans-serif;
}


/* Custom font classes */
@layer utilities {
  .font-primary {
    font-family: var(--font-roboto-flex), sans-serif;
  }

  .font-secondary {
    font-family: var(--font-roboto-mono), monospace;
  }
}